.MarkdownPreviewer {
  text-align: center;
}

.MarkdownInput,
.MarkdownOutput {
  box-sizing: border-box;
  width: 50%;
  padding: 10px;
  float: left;
}

.MarkdownInput textarea,
.MarkdownOutput textarea {
  width: 100%;
  min-height: 400px;
}