.MarkdownPreviewer > h1,
.MarkdownInput > h2,
.MarkdownOutput > h2 {
  text-align: center;
}

.MarkdownInput,
.MarkdownOutput {
  box-sizing: border-box;
  padding: 10px;
}

.MarkdownInput > textarea,
.MarkdownOutput > div {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
}

.MarkdownInput > textarea {
  resize: none;
}

.MarkdownOutput > div {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding-left: 10px;
  overflow-y: scroll;
}
